---
import '../styles/global.css'
import type { TBanner, THeader, TFooter} from  "../types";

type TStrapiREsponse<T = null> = {
	success: boolean;
	data?: T;
	error?: {
		status: number;
		name: string;
		message: string;
		details?: Record<string,string[]>
	};
	meta?: {
		pagination: {
			page: number;
			pageSize: number;
			pageCount: number;
			total: number;
		}
	}
}

type TGlobalData = {
	id: number;
	documentId: string;
	title: string;
	description: string;
	createdAt: string;
	publishedAt: string;
	banner: TBanner;
	header: THeader;
	footer: TFooter;
}

async function getStrapiGlobalData(): Promise<TStrapiREsponse<TGlobalData>> {
	const BASE_API_URL = import.meta.env.VITE_STRAPI_BASE_URL ?? "http://localhost:1337";
	const path = "/api/global"
	const url = new URL(path, BASE_API_URL)
	const response = await fetch(url.href);
	const data = await response.json();
	//console.dir(data, {depth: null});
	return data;
}

const globalData = await getStrapiGlobalData();
const banner = globalData.data?.banner;
const header = globalData.data?.header;
const footer = globalData.data?.footer;

---
<!doctype html>


<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<!-- <pre>{JSON.stringify(globalData,null,4)}</pre> -->
		{banner?.isVisible && <div> {banner.description}</div>}
		<!-- <slot/> -->
	</body>
</html>


<!-- // <style>
// 	html,
// 	body {
// 		margin: 0;
// 		width: 100%;
// 		height: 100%;
// 	}

// 	.box {
// 		display: flex;
// 		justify-content: center;
// 		justify-items : center;
// 		margin: auto;
// 		padding: 4rem;
// 		background-color: aqua;
// 	}
// </style>

  -->